
<nav class="text-white shadow-lg">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center py-3">
            <a href="{{url_for('index')}}" class="flex items-center">
                <img src="/static/photo/logo.png" alt="Eagles Investors Logo" class="h-20 mr-2">
            </a>
            <!-- <div class="flex space-x-4">
                <a href="" class="hover:bg-gray-700 px-3 py-2 rounded h-10 text-3xl">Team</a>
            </div> -->
        </div>
    </div>
</nav>